/*
  # app-mixins.less #
*/

/*   ## fix-float 
fix-float mixin for floated elements. Creates a wrapper for the floated elements giving the box a height.

### Usage ###
  Apply the class to a wrapper div that contains floated elements.
*/  

.fix-float:after{
  .fix-float();
}

/*

## box-shadow ##
    .box-shadow-well([@blur, @speed, @color]);
Used for making well regions. It accepts three optional parameters: 

### Usage ###

     .example1{
       .box-shadow-well(@color : #000 , @blur : 20px);
     }

@param {non-string} @blur the amount of blur
@param {non-string} @speed the amount of speed
@param {non-string} @color the color for the shadow

*/
.box-shadow-well(@blur :10px ; @speed : 0 ; @color : #000){
  .box-shadow("inset 0 0 @{blur} @{speed} @{color}");
}
//doc goes here.
.text-stand-out(){
  .text-shadow("0px 2px 3px #555;");
}

/*
## .smooth([@duration]) ##
  Adds CSS3 transition for the opacity property.

### Usage ###
    a{
      .snooth(200ms);
        &:hover{
        .smooth(500ms);
        }
    }
@param {non-string} @duration passed in either as milliseconds or seconds. 200ms or 3s are valid values.


*/

.smooth(@duration : @animation-duration){
  transition : opacity @duration @animation-timing-function;
}
.smooth-bg(@duration : @animation-duration){
  transition : background @duration @animation-timing-function; 
}
// doc goes here.
.make-fs(@fs-upper-bound);
.make-fs( @i: @fs-lower-bound ; @j : 1) when not(@i=0) {
  @v : (@i)/(1/((@_base-fs)))/100;
  .fs-@{j}{
    font-size : ~"@{v}em";
  }
  .make-fs( (@i - @fs-steps), (@j + 1));
}




//gradient

// Gradient Bar Colors for buttons and alerts
.gradientBar(@primaryColor, @secondaryColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  color: @textColor;
  text-shadow: @textShadow;
  #gradient > .vertical(@primaryColor, @secondaryColor);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}




